<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Manager Page</title>

    <!--Public library-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/24.0.0/classic/ckeditor.js"></script>
    <link href="https://unpkg.com/tabulator-tables@4.9.3/dist/css/tabulator.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.9.3/dist/js/tabulator.min.js"></script>
</head>

<body style="overflow: hidden;">
    <!--Left panel-->
    <div style="background-color: #d5d5d5; width: 200px; height: 200vh; position: fixed;">
        <a href="/" style="position: absolute; left: 20px; top: 10px; font-size: 30px;"><i class="fas fa-chevron-left" style="color: black"></i></a>
        <hr style="margin-top: 50px;">
        <a href="#manage_cate" style="color: #515151; text-decoration: none; margin-left: 20px; font-size: 15px">Manage Category</a>
        <hr style="margin-top: 10px;">
        <a href="#manage_course" style="color: #515151; text-decoration: none; margin-left: 20px; font-size: 15px">Manage Course</a>
        <hr style="margin-top: 10px;">
        <a href="#manage_user" style="color: #515151; text-decoration: none; margin-left: 20px; font-size: 15px">Manage User</a>
        <hr style="margin-top: 10px;">
    </div>

    <!--Body-->
    <div style="position: absolute; margin-left: 200px;">
        <div id="manage_cate" style="height: 100vh;">
            <div style="margin: 20px">
                <hr />
                <h4 style="margin: 20px;">Category list:</h4>
                <div id="cate_table" style="margin-left: 20px;"></div>
            </div>
        </div>

        <div id="manage_course" style="height: 100vh; width: 1200px">
            <div style="margin: 20px">
                <hr />
                <h4 style="margin: 20px;">Courses list:</h4>
                <div id="course_table" style="margin-left: 20px;"></div>

                <div style="margin: 20px;">
                    <h4>Edit course:</h4>
                    <a href="/courses/edit"><button style="background-color: black; color:#d5d5d5;" class="btn">UPDATE</button></a>
                </div>

                <div style="margin: 20px;">
                    <h4>Add course:</h4>
                    <a href="/courses/new_course"><button style="background-color: black; color:#d5d5d5;" class="btn">UPDATE</button></a>
                </div>

                <form action="manage/del_course" method="POST" id="del_course" style="margin: 20px;">
                    <h4>Delete course:</h4>
                    <div class="d-flex flex-row">
                        <input type="text" id="del_courseid" name="del_courseid" class="form-control" placeholder="Input id you want to delete" required style="margin-right: 30px">
                        <input class="btn" value="UPDATE" type="submit" style="background-color: black; color:#d5d5d5;">
                    </div>
                </form>
            </div>
        </div>
        
        <div id="manage_user" style="height: 100vh; width: 1200px; ">
            <div style="margin: 20px">
                <hr />
                <h4 style="margin: 20px;">Users list:</h4>
                <div id="user_table" style="margin-left: 20px;"></div>

                <form action="manage/edit_user" id="edit_user" method="POST" style="margin: 20px;">
                    <h4>Edit user:</h4>
                    <div class="d-flex flex-row">
                        <input type="text" id="edit_username" name="edit_username" class="form-control" placeholder="Current user name" required style="margin-right: 15px">
                        <input type="text" id="edit_fullname" name="edit_fullname" class="form-control" placeholder="New fullname" style="margin-right: 15px">
                        <select class="form-control" name="edit_type" id="edit_type" style="margin-left: 15px; width: 100px;">
                            <option value="admin" selected>Admin</option>
                            <option value="teacher">Teacher</option>
                            <option value="user">User</option>
                        </select>
                    </div>
                    <div class="d-flex flex-row" style="margin-top: 10px;">
                        <input type="email" id="edit_email" name="edit_email" class="form-control" placeholder="New email" style="margin-right: 30px">
                        <input class="btn" value="UPDATE" type="submit" style="background-color: black; color:#d5d5d5;">
                    </div>
                </form>

                <form id="add_user" action="manage/add_user" method="POST" style="margin: 20px;">
                    <h4>Add user:</h4>
                    <div class="d-flex flex-row">
                        <input type="text" id="add_username" name="add_username" class="form-control" placeholder="Input username" required style="margin-right: 15px">
                        <input type="password" id="add_password" name="add_password" class="form-control" placeholder="Input password" required style="margin-left: 15px; margin-right: 15px;">
                        <select class="form-control" name="add_type" id="add_type" style="margin-left: 15px;">
                            <option value="admin" selected>Admin</option>
                            <option value="teacher">Teacher</option>
                            <option value="user">User</option>
                        </select>
                    </div>
                    <div class="d-flex flex-row" style="margin-top: 10px;">
                        <input type="email" id="add_email" name="add_email" class="form-control" placeholder="Input email" required style="margin-right: 30px">
                        <input class="btn" value="UPDATE" type="submit" style="background-color: black; color:#d5d5d5;">
                    </div>
                </form>

                <form action="manage/del_user" id="del_user" method="POST" style="margin: 20px;">
                    <h4>Delete user:</h4>
                    <div class="d-flex flex-row">
                        <input type="text" id="del_username" name="del_username" class="form-control" placeholder="Input username you want to delete" required style="margin-right: 30px">
                        <input class="btn" value="UPDATE" type="submit" style="background-color: black; color:#d5d5d5;">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        $('#del_course').on('submit', function(e) {
            e.preventDefault();
            $.getJSON('/manage/course-exists?course=' + $('#del_courseid').val(), function(data) {
                if (data == 'success') {
                    $('#del_course').off('submit').submit();
                } else {
                    alert("Không tồn tại khóa học với ID này!");
                }
            })
        })
        $('#edit_user').on('submit', function(e) {
            e.preventDefault();
            $.getJSON('/manage/user-exists?username=' + $('#edit_username').val(), function (data) {
                if (data == 'success') {
                    if ($('#edit_email').val() !== false) {
                        $.getJSON('/manage/email-exists?email=' + $('#add_email').val(), function(data) {
                        if (data == 'success') {
                            alert("Đã tồn tại người dùng với email này!");
                        } else {
                            $('#edit_user').off('submit').submit();
                        }
                    })
                    }
                } else if (data == 'fail') {
                    alert("User này không tồn tại!");
                }
            })
        })
        $('#del_user').on('submit', function(e) {
            e.preventDefault();
            $.getJSON('/manage/user-exists?username=' + $('#del_username').val(), function (data) {
                if (data == 'success') {
                    $('#del_user').off('submit').submit();
                } else if (data == 'fail') {
                    alert("User này không tồn tại!");
                }
            });
        }) 

        $('#add_user').on('submit', function(e) {
            e.preventDefault();
            $.getJSON('/manage/user-exists?username=' + $('#add_username').val(), function(data) {
                if (data == 'success') { //tim thay user voi username
                    alert("Đã tồn tại người dùng với username này!");
                } else {
                    $.getJSON('/manage/email-exists?email=' + $('#add_email').val(), function(data) {
                        if (data == 'success') {
                            alert("Đã tồn tại người dùng với email này!");
                        } else {
                            $('#add_user').off('submit').submit();
                        }
                    })
                } 
            })
        }) 
        var user_table = new Tabulator("#user_table", {
            data: <%- JSON.stringify(users) %>,           //load row data from array
            layout:"fitDataStretch",      //fit columns to width of table
            responsiveLayout:"hide",  //hide columns that dont fit on the table
            tooltips:true,            //show tool tips on cells
            addRowPos:"top",          //when adding a new row, add it to the top of the table
            history:true,             //allow undo and redo actions on the table
            pagination:"local",       //paginate the data
            paginationSize:5,         //allow 7 rows per page of data
            resizableRows:false,       //allow row order to be changed
            initialSort:[             //set the initial sort order of the data
                {column:"type", dir:"asc"},
            ],
            columns:[                 //define the table columns
                {title:"Username", field:"Username" },
                {title:"Name", field:"Name" },
                {title:"Email", field:"Email" },
                {title:"Type", field:"Type"},
            ],
            rowUpdated:function(row){
                console.log(row);
            },
        });

        var course_table = new Tabulator("#course_table", {
            virtualDomHoz:true,
            data: <%- JSON.stringify(courses) %>,           //load row data from array
            layout:"fitColumns",      //fit columns to width of table
            responsiveLayout:"hide",  //hide columns that dont fit on the table
            tooltips:true,            //show tool tips on cells
            addRowPos:"top",          //when adding a new row, add it to the top of the table
            history:true,             //allow undo and redo actions on the table
            pagination:"local",       //paginate the data
            paginationSize:5,         //allow 7 rows per page of data
            resizableRows:false,       //allow row order to be changed
            initialSort:[             //set the initial sort order of the data
                {column:"type", dir:"asc"},
            ],
            columns:[                 //define the table columns
                {title:"ID", field:"CourseID" },
                {title:"Name", field:"Name" },
                {title:"Teacher", field:"Teacher" },
                {title:"Description", field:"Description" },
                {title:"Detail Description", field:"DetailDescription" },
                {title:"Preview Point", field:"Preview" },
                {title:"Number Preview", field:"NumPreview" },
                {title:"Date Start", field:"DateStart" },
                {title:"Number Students", field:"NumberStudent" },
                {title:"Status", field:"Status" },
                {title:"Category", field:"Category" },
                {title:"Views", field:"View" },
                {title:"Price", field:"Price" },
            ],
        });

        var cate_table = new Tabulator("#cate_table", {
            data: <%- JSON.stringify(category) %>,           //load row data from array
            layout:"fitDataStretch",      //fit columns to width of table
            responsiveLayout:"hide",  //hide columns that dont fit on the table
            tooltips:true,            //show tool tips on cells
            addRowPos:"top",          //when adding a new row, add it to the top of the table
            history:true,             //allow undo and redo actions on the table
            pagination:"local",       //paginate the data
            paginationSize:5,         //allow 7 rows per page of data
            resizableRows:false,       //allow row order to be changed
            initialSort:[             //set the initial sort order of the data
                {column:"type", dir:"asc"},
            ],
            columns:[                 //define the table columns
                {title:"ID", field:"ID" },
                {title:"Name", field:"Name" },
                {title:"Number Courses", field:"NumCourses" },
                {title:"Parent Category", field:"ParentCate"},
            ],
            rowUpdated:function(row){
                console.log(row);
            },
        });
    </script>
</body>
</html>