<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="/stylesheets/authen_style.css" rel="stylesheet" type="text/css">
    <title>LogIn</title>
</head> 
<body style="background-image: url('../../images/signup_bg.jpg');">
    <form action="regis" method="POST" style="border:1px solid #ccc">
        <div class = "d-flex justify-content-center my-3" >
            <a href = "root">
                <img src="/images/logo.png" alt="logo" height = 100px>
            </a>
        </div>
        <div class="container">
            <h4 class = "d-flex justify-content-center"><b>Sign Up to Online_Course</b></h4> <br>
            <p>Please fill in this form to create an account.</p>
            <hr>
            
            <label for="name"><b>Name</b></label>
            <input type="text" placeholder="Enter name" name="name" id="name" required>
    
            <label for="email"><b>Email</b></label>
            <input type="email" placeholder="Enter Email" name="email" id="email" required>
            
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
            
            <label for="psw-repeat"><b>Repeat Password</b></label>
            <input type="password" placeholder="Repeat Password" name="re_psw" id="re_psw" required>
            
            <label>
            <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
            </label>
            
            <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
            
            <div class="clearfix">
                <button type="submit" class="signupbtn">Sign Up</button>
            </div>

            <div class = "d-flex justify-content-center">
                Already have an account? &nbsp;
                <a href = "login" style="color:orangered">
                    Log In
                </a>
            </div>
        </div>
    </form>
</body>
</html>