<footer class="footer-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3 footer-logo">
                <div class="text-center">
                    <img src="images/logo_v1.png" alt="A picture of logo" class="footer-logo-img">
                </div>
                <p class="footer-text">Online courses là nơi học lập trình miễn phí.</p>
                <p class="footer-text">Các khóa học được đầu tư kỹ lưỡng từ nội dung đến chất lượng hình ảnh và âm thanh.</p>
                <p class="footer-text">Học viên có thể học từ con số 0 tới khi trở thành lập trình viên chuyên nghiệp tại đây.</p>
                <br>
                <br>
                <p class="footer-text">© 2019 MyCV JSC. All right reverved.</p>
            </div>
            <div class="col-md-2">
                <p class="footer-title">OC</p>
                <p><a href=# class="footer-text">Giới thiệu</a></p>
                <p><a href=# class="footer-text">Câu hỏi thường gặp</a></p>
                <p><a href=# class="footer-text">Liên hệ</a></p>
            </div>
            <div class="col-md-2">
                <p class="footer-title">Sản phẩm</p>
                <p><a href="#" class="footer-text">mywebsite.edu.vn</a></p>
            </div>
            <div class="col-md-2">
                <p class="footer-title">Hỗ trợ</p>
                <p><a href="#" class="footer-text">Hỗ trợ</a></p>
                <p><a href="#" class="footer-text">Đóng góp</a></p>
            </div>
            <div class="col-md-3">
                <p class="footer-title">Theo dõi chúng tôi</p>
                <p class="footer-text">Nhập email để đăng ký nhận những thông tin hữu ích về học tập từ OC</p>
                <form>
                    <input type="text" placeholder="Email của bạn..." class="footer-input-email">
                    <button type="submit" class="btn btn-submit">ĐĂNG KÝ</button>
                </form>
            </div>
        </div>
    </div>  
</footer>