<header class = "header-wrapper">
    <div class = "container">
        <div class = "row">
            <div class = "col d-flex justify-content-start">
                <img src="images/logo.png" alt = "Logo" style="height: 100px;">
                <button class="btn right"> Trang chủ </button>
                <button class="btn right"> Khóa học </button>
            </div>
        
            <div class="col d-flex justify-content-end">
                <button class="btn left"> Đăng nhập </button>
                <button class="btn left"> Đăng ký </button>
            </div>
        </div>
    </div>
</header>