<link href="/stylesheets/header_style.css" rel="stylesheet" type="text/css">

<header class = "header-wrapper">
    <div class = "container">
        <div class = "row">
            <div class = "col d-flex justify-content-start">
                <img src="/images/logo.png" alt = "Logo" style="height: 80px;">
                <button class="btn left">Trang chủ</button>
            
                <nav>
                    <menu>
                        <menuitem id="demo1">
                            <button class="btn left">Khóa học</button>
                            <menu>
                                <menuitem><a>about</a></menuitem>
                                <menuitem>
                                    <a>settings</a>
                                    <menu>
                                        <menuitem><a>Test 1</a></menuitem>
                                        <menuitem><a>Test 2</a></menuitem>
                                        <menuitem><a>Test 3</a></menuitem>
                                        <menuitem><a>Test 4</a></menuitem>
                                    </menu>  
                                </menuitem>
                                <menuitem><a>help</a></menuitem>
                                <menuitem id="demo2">
                                    <a>more</a>
                                    <menu>
                                        <menuitem id="demo3">
                                            <a>deeper</a>
                                            <menu>
                                                <menuitem><a>deep 1</a></menuitem>
                                                <menuitem><a>deep 2</a></menuitem>
                                                <menuitem><a>deep 3</a></menuitem>
                                            </menu>
                                        </menuitem>
                                        <menuitem><a>test</a></menuitem>
                                    </menu>
                                </menuitem>
                            </menu>
                        </menuitem>
                    </menu>
                </nav>
            </div>
            
            <% if (auth == false) { %>
            <div class="col d-flex justify-content-end">
                <a href="/users/login"><button class="btn right">Đăng nhập</button></a>
                <a href="/users/regis"><button class="btn right">Đăng ký</button></a>
            </div>
            <% } %>
            
            <% if (auth == true) { %>
            <div class="col d-flex justify-content-end">
                <a href="/users/profile"><button class="btn right"><%= name %></button></a>
                <a href="/users/logout"><button class="btn right">Đăng xuất</button></a>
            </div>
            <% } %>
            
        </div>
    </div>
</header>