<header class = "header-wrapper">
    <div class = "container">
        <div class = "row">
            <div class = "col d-flex justify-content-start">
                <a href="/"><img src="/images/logo.png" alt = "Logo" style="height: 80px;"></a>
                <a href="/"><button class="btn left" style="margin-left: 10px;">Trang chủ</button></a>
            
                <nav>
                    <menu>
                        <menuitem id="demo1">
                            <button class="btn left">Khóa học</button>
                            <menu>
                                <menuitem><a href="#">Internet of Things</a></menuitem>
                                <menuitem><a href="#">Design</a></menuitem>
                                <menuitem>
                                    <a>IT</a>
                                    <menu>
                                        <menuitem><a href="/courses/it/1">Web development</a></menuitem>
                                        <menuitem><a href="/courses/it/2">App development</a></menuitem>
                                    </menu>  
                                </menuitem>
                            </menu>
                        </menuitem>
                    </menu>
                </nav>
            </div>
            
            <% if (auth == false) { %>
            <div class="col d-flex justify-content-end">
                <a href="/authen/login"><button class="btn right">Đăng nhập</button></a>
                <a href="/authen/regis"><button class="btn right">Đăng ký</button></a>
            </div>
            <% } %>
            
            <% if (auth == true) { %>
            <div class="col d-flex justify-content-end">
                <a href="/profile"><button class="btn right"><%= name %></button></a>
                <a href="/authen/logout"><button class="btn right">Đăng xuất</button></a>
            </div>
            <% } %>
            
        </div>
    </div>
</header>