<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Course</title>

    <!--CSS inllude-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/24.0.0/classic/ckeditor.js"></script>
</head>
<body>
    <div class="container" style="margin-top: 20px; margin-bottom: 50px;">
        <h1 class="text-bold">New Course</h1>
        <a href="/profile" style="text-decoration: none;">Back</a>
        <form action="new_course" method="POST" enctype="multipart/form-data" id="form_sub">
            <div class="container" style="border: 1px solid gray; border-radius: 10px; padding-bottom: 50px; margin-top: 50px;">
                <div class="row" style="margin-top: 50px;">
                    <div class="col">
                        <label for="course_name" style="width: 100%;">Name</p>
                        <input type="text" class="form-control" placeholder="Enter course name" maxlength="45" name="course_name" id="course_name" required>
                    </div>
                    <div class="col form-group">
                        <label for="course_cate" style="width: 100%;">Category</p>
                        <select class="form-control" name="course_cate" id="course_cate">
                            <option value="web" selected>Web development</option>
                            <option value="app">App development</option>
                            <option disabled>Comming soon...</option>
                        </select>
                    </div>
                    <% if (type == 'admin') { %> 
                        <div class="col">
                            <label for="course_teacher" style="width: 100%;">Teacher</p>
                                <select class="form-control" name="course_teacher" id="course_teacher" style="margin-bottom: 20px;">
                                    <% if (teachers[0].length == 0) { %>
                                        <option disabled>Chưa có giảng viên nào!</option>
                                    <% } else { %>
                                        <% for (var i=0; i < teachers.length; i++) { %>
                                            <option value="<%= teachers[i].Username %>"><%= teachers[i].Username %></option>
                                        <% } %>
                                    <% } %>
                                </select>
                        </div>
                    <% } %>
                </div>
                <div class="row" style="margin-top: 30px;">
                    <div class="col">
                        <label for="course_description" style="width: 100%;">Brief Description</p>
                        <textarea class="form-control" id="course_description" name="course_description" rows="3" style="resize: none;" maxlength="100" required></textarea>
                    </div>
                    <div class="col form-group">
                        <label for="course_price" style="width: 100%;">Price</p>
                        <select class="form-control" name="course_price" id="course_price">
                            <option value="free" selected>FREE</option>
                            <option value="free">0$</option>
                            <option disabled>Comming soon...</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="container d-flex flex-column align-items-center" style="border: 1px solid gray; border-radius: 10px; padding-bottom: 25px; margin-top: 50px;">
                <p style="margin-top: 30px;">Course Image</p>
                <div class="custom-file" style="width: 90%;">
                    <label class="custom-file-label" for="course_img">Select image:</label>
                    <input class="custom-file-input" type="file" id="course_img" name="course_img" accept=".jpg">
                </div>
                <div style="width: 25%; height: 25%;">
                    <img id="course_preview_img" src="/images/video_icon.png" alt="your image" style="margin-top: 20px; width: 100%; height: 100%;">
                </div>
            </div>

            <div class="container" style="margin-top: 50px;" >
                <textarea name="course_detail_description" id="editor">
                    <p>Xóa dòng này và thêm thông tin chi tiết khóa học vào đây.</p>
                </textarea>
            </div>

            <div class="text-center" style="margin-top: 50px;">
                <input type="submit" class="btn" text="SUBMIT" id="submit" style="text-align:center;">
            </div>
        </form>
    </div>

    
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                
                reader.onload = function(e) {
                $('#course_preview_img').attr('src', e.target.result);
                }
                
                reader.readAsDataURL(input.files[0]); // convert to base64 string
            }
        }

        $("#course_img").change(function() {
            readURL(this);
        });

        //editor handle
        let editor;
        ClassicEditor
            .create( document.querySelector( '#editor' ) )
            .then (newEditor => {
                editor = newEditor;
            })
            .catch( error => {
                console.error( error );
            });

        //submit handle
        document.querySelector('#submit').addEventListener( 'click', () => {
            const editorData = editor.getData();

            // ...
        });

        
    </script>
</body>
</html>