<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="stylesheets/slide.css" rel="stylesheet" type="text/css">
    <title>BM Online Courses</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    
    <div class="slideshow home_slide">
        <img src="https://wallpaperaccess.com/full/268330.jpg" alt="hd working image" class="bg-slide-img bg-slide-img-one" id="bg-one">
        <img src="https://www.wallpapertip.com/wmimgs/68-682086_working-desk-with-blank-notepad-and-ready-to.jpg" alt="hd working image" class="bg-slide-img bg-slide-img-two" id="bg-two">
        
        <div class="intro-slide-text">
            <p class="intro-slide-text-one">Học lập trình với các khóa học chất lượng để đi làm! </p>
            <p class="intro-slide-text-two">CỘNG ĐỒNG HỌC LẬP TRÌNH <br>MIỄN PHÍ</p>
            <button class="slideshow-button slideshow-btn-courses">KHÓA HỌC</button>
            <button class="slideshow-button slideshow-btn-join">THAM GIA NGAY</button>
        </div>
    </div>

    <div class = "container" style = "margin-top: 30px; margin-bottom: 30px;">
        <div class = "row">
            <div class = "col">
                <img class="mx-auto d-block" src="images/student_icon.png" alt="student_icon" width="30%">
            </div>
            <div class = "col">
                <img class="mx-auto d-block" src="images/video_icon.png" alt="student_icon" width="30%">
            </div>
            <div class = "col">
                <img class="mx-auto d-block" src="images/clock_icon.png" alt="student_icon" width="30%">
            </div>
        </div>
        <div class = "row">
            <div class = "col d-flex justify-content-center" style="font-size: 20px;">
                Trên 15.058 học viên
            </div>
            <div class = "col d-flex justify-content-center" style="font-size: 20px;">
                130,000 khóa học trực tuyến
            </div>
            <div class = "col d-flex justify-content-center" style="font-size: 20px;">
                Học mọi lúc mọi nơi
            </div>
        </div>
        
    </div>

    <%- include('partials/footer.ejs') %>


    <!--Javascrip-->
    <script type="text/javascript" src="javascripts/slide.js"></script>
</body>
</html>