* {
    margin: 0;
    padding: 0;

}
.slideshow {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.bg-slide-img {
    width: 100%;
    height: 100%;
    filter: brightness(50%);
    position: absolute;
}
.bg-slide-img-one {
    display: none;
}
.bg-slide-img-two {
    display: inline-block;
}
.intro-slide-text {
    position: absolute;
    top: 40%;
    left: 15%;
    color: white;
}

.intro-slide-text-one {
    font-size: 14px;
}

.intro-slide-text-two {
    font-size: 32px;
}